<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Benvenuto su LetMeTag</p>
        <p class="text-justify">
          La piattaforma di annotazione creata dal Dipartimento di Informatica
          dell'Università di Torino!
        </p>
      </div>

      <div class="col-xs-12 col-md-3">
        <h6>LINK UTILI</h6>
        <ul class="footer-links">
          <li><a href="https://www.unito.it/">Unito</a></li>
          <li>
            <a href="http://beta.di.unito.it/index.php/english"
              >Dipartimento di Informatica</a
            >
          </li>
          <li>
            <a href="https://www.di.unito.it/login/login.html">Intranet</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>UTILITY</h6>
        <ul class="footer-links">
          <li><a href="https://www.unito.it/">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; {{ anno }} All Rights Reserved by
          <a href="#">Il team di LetMeTag</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
