<app-navbar *ngIf="authService.adminRole === true"></app-navbar>
<app-navbar-observer *ngIf="authService.observer === true"></app-navbar-observer>

<div class="container">
  <!-- button to go back -->
  <div>
    <button
      [routerLink]="['/user-statistics']"
      type="button"
      class="btn btn-outline-primary"
      style="float: right"
    >
      <i class="fa fa-arrow-left"></i> {{ "statistics.user.userStatistics" | translate }}
    </button>
  </div>

  <!-- name of the selected user -->
  <div *ngFor="let u of user; f as isFirst">
    <h4 class="margine">{{ "statistics.user.user" | translate }} : {{ u.name }}</h4>
  </div>

  <!-- list of tasks assigned to a user -->
  <table class="table">
    <tr class="table-primary">
      <th scope="col"></th>
      <th scope="col">{{ "statistics.user.AssignedTasks" | translate }}</th>
      <th scope="col">{{ "statistics.user.TaskCompleted" | translate }}</th>
      <th scope="col">{{ "statistics.user.PercentageOfAnnotation" | translate }}</th>

      <th scope="col">{{ "statistics.task.NumberOfAnnotationsPerformedOnTheTask" | translate }}</th>
      <th scope="col">{{ "statistics.task.NumberOfDaysSinceLastAnnotation" | translate }}</th>
    </tr>
    <tbody *ngIf="statistics.length > 0">
      <tr *ngFor="let task of statistics; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ task.task_name }}</td>

        <td>
          <span *ngIf="task.post_annotated_in_total == task.post_in_total"> Si</span>
          <span *ngIf="task.post_annotated_in_total != task.post_in_total"> No</span>
        </td>
        <td>{{ task.post_annotated_in_total / task.post_in_total | percent }}</td>
        <td>{{ task.post_annotated_in_total }}</td>

        <td>{{ task.day }}</td>
      </tr>
    </tbody>
  </table>

  <!-- lista di task vuoto -->
  <div *ngIf="statistics.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">{{ "task.alert.ThereAreNoAssignedTasks" | translate }}</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>
</div>
